@page
@model WebAppRazorPages.Pages.AccountModel
@{
    ViewData["Title"] = "Account";
}
<section class="details">
    <div class="detail">
        <div class="detLeft">
            <div class="ex">
                <img src="" />
                     alt="avatar">
                <div class="exch">
                    <i class="ri-exchange-funds-line"></i>
                </div>
            </div>
            <h6>John Doe</h6>
            <a href="#">john.doe@domain.com</a>
            <a href="#" class="account">
                <p> Account Details</p>
            </a>
            <button type="submit" class="x-out">  Sign Out</button>
        </div>
        <div class="detRight">
            <div class="right">
                <div class="rightTop">
                    <h6>Account Details</h6>
                    <p>Basic Info</p>
                    <div class="fLast">
                        <div class="first fL">
                            <label>First Name</label>
                            <input class="width" type="text" placeholder="John">
                        </div>
                        <div class="last fL">
                            <label>Last Name</label>
                            <input class="width" type="text" placeholder="Doe">
                        </div>
                    </div>
                    <div class="fLast em">
                        <div class="first fL">
                            <label>Email Address</label>
                            <input class="width" type="email" placeholder="John.Doe@domain.com">
                        </div>
                        <div class="last fL">
                            <label>Phone</label>
                            <input class="width" type="text" placeholder="Enter your phone name">
                        </div>
                    </div>
                    <div class="bio">
                        <label>Bio<span> (optional)</span></label>
                        <textarea placeholder="Add a short bio.." cols="30" rows="5"></textarea>
                    </div>
                    <div class="saveChanges">
                        <button class="cancel">
                            Cancel
                        </button>
                        <button id="form-buttom" class="btn-theme-s" type="submit"> Save changes</button>
                    </div>
                </div>
                <hr>
                <div class="rightBottom">
                    <p>Address</p>
                    <div class="fLast">
                        <div class="first fL">
                            <label>Address line 1</label>
                            <input class="width1" type="text" placeholder="Enter your address line">
                        </div>
                    </div>
                    <div class="fLast">
                        <div class="first fL em">
                            <label class="sp">Address line 2 <span> (optional)</span></label>
                            <input class="width1" type="text" placeholder="Enter your second address line">
                        </div>
                    </div>
                    <div class="fLast pos">
                        <div class="first fL">
                            <label>Postal Code</label>
                            <input class="width" type="text" placeholder="Enter your postal code">
                        </div>
                        <div class="last fL">
                            <label>City</label>
                            <input class="width" type="text" placeholder="Enter your city">
                        </div>
                    </div>
                    <div class="saveChanges">
                        <button class="cancel">
                            Cancel
                        </button>
                        <button id="form-buttom" class="btn-theme-s" type="submit"> Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>