.details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail {
    display: flex;
    justify-content: center;
    width: 70%;
}

.detLeft {
    flex: 1;
}

.detLeft img {
    width: 100px;
    object-fit: cover;
    height: 100px;
    border-radius: 50%;
}

.ex {
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.exch {
    position: absolute;
    background-color: #fff;
    color: #444;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    left: 132px;
    bottom: 6.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.03);
}

.detLeft h6 {
    font-size: 16.5px;
    text-align: center;
    color: #222;
    margin-top: 20px;
}

.detLeft a {
    text-decoration: none;
    margin-top: 10px;
    color: grey;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.account {
    background-color: #6366F1;
    margin-top: 10px;
    height: 40px;
    width: 60%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 7px;
    border: none;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.account p {
    color: #fdf5f5;
    font-size: 13px;
}

.out {
    font-size: 24px;
    color: #444;
    margin-top: 8px;
    margin: auto;
    display: flex;
}

.x-out {
    color: rgb(20, 19, 19);
    background-color: transparent;
    display: flex;
    margin: 12px auto;
    border: none;
    font-size: 13px;
}

.detRight {
    border-left: 1px solid rgb(230, 227, 227);
    margin-left: 17px;
    flex: 3;
}

.right {
    margin-left: 100px;
    margin-top: 34px;
}

.rightTop h6 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #222;
}

.rightTop p {
    color: #6366F1;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 20px;
}

.fL .width {
    width: 300px;
    margin-top: 0px;
    border: 1px solid rgb(150, 147, 147);
}

.em {
    margin-top: 23px;
}

.bio {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.bio label {
    font-size: 12.5px;
    font-weight: 500;
    color: #222;
}

.bio label span {
    color: grey;
}

.bio textarea {
    border: 1px solid rgb(150, 147, 147);
    padding-top: 10px;
    padding-left: 7px;
    border-radius: 10px;
}

.saveChanges {
    display: flex;
    align-items: center;
    gap: 12px;
    opacity: 100%;
}

.cancel {
    background-color: #F2F4F9;
    color: #333;
    height: 36px;
    font-size: 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-top: 30px;
    width: 70px;
}

.changes {
    background-color: #6366F1;
    color: #fff;
    height: 34px;
    font-size: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 30px;
    width: 96px;
}

.right hr {
    margin: 30px 0px;
    opacity: 20%;
}

.rightBottom p {
    color: #6366F1;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 20px;
}

.fL .width1 {
    width: 695px;
    margin-top: 0px;
}

.sp span {
    color: grey;
}

.pos {
    margin-top: 29px;
}

.dark {
    height: 94vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.darRight {
    padding-top: 50px;
    color: #131023;
    font-size: 35px;
    background-color: white;
    flex: 1;
    width: 50%;
    font-weight: 500;
    height: 100%;
}

.darLeft {
    color: #fff;
    padding-top: 50px;
    background-color: #131023;
    flex: 1;
    font-size: 35px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    font-weight: 500;
    justify-content: end;
    border-right: 3px solid #6366F1;
}

.dark .lp {
    position: absolute;
    left: 333.5px;
    bottom: 65px;
}

.lp img {
    width: 800px;
}
